@import "~bootstrap/scss/bootstrap";

html{
  overflow: hidden;
}

#content{
  background: black;
  img{
    min-width: 100%;
    min-height: 100vh;
    opacity: .5;
    object-fit: cover;
  }
  nav{  
    ul{
      width: 100%;
      display: flex;
      justify-content: space-around;
      color: white;
      li{
        width: 80%;
        text-align: center;
        cursor: pointer;
        text-transform: capitalize;
      }
    }
  }
}
