@import "~bootstrap/scss/bootstrap";

html{
  overflow: hidden;
}

#content{
  background: black;
  img{
    min-width: 100%;
    min-height: 100vh;
    opacity: .5;
    object-fit: cover;
  }
  nav{ 
    background: #ccc;
    padding: 0; 
    height: 50px;
    ul{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-around; 
      align-items: center;
      color: black;
      li{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        text-transform: capitalize;
        &:hover,
        &:active{
          background: black;
          margin: 0 !important;
          
          color: #ccc;
        }
      }
    }
  }
  .para{
    position: relative;
    color: white;
    bottom: 600px;
    font-size: 1.2em;
    line-height: 2em;
    padding: 150px;
  }
}


